asgiref==3.8.1
cssmin==0.2.0
distlib==0.3.8
Django==5.0.7
django-appconf==1.0.6
django-compressor==4.5.1
django-filter==24.3
djangorestframework==3.15.2
Faker==26.3.0
filelock==3.15.4
gunicorn==22.0.0
jsmin==3.0.1
Markdown==3.7
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
rcssmin==1.1.2
rjsmin==1.2.2
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
virtualenv==20.26.3
virtualenvwrapper-win==1.2.7
